<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="POST" action="/posts">
        <input placeholder="username" name="username">
        <textarea placeholder="write your post" name="content" rows="10" cols="35"></textarea>
        <button>Submit</button>
        
    </form>
</body>
</html>